.footer-middle {
  padding-top: 2em;
  color: white;
}

footer {
 background: rgb(9, 95, 234);
  color: white;
  margin-top:100px;
}
footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}
